<footer>
    </p>Don't blame us if the weather forecast ruins your plans</p>
    <p>SarcasForecast &copy; 2023 | Created by Prashant Raj | Follow me on <a href="https://twitter.com/rajmaurya_dev">Twitter</a>
</footer>