<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headlinks}}
    <title>Document</title>
</head>
<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <img class="w-25" src="/images/error.svg" alt="">
            </div>
            <div class="row justify-content-center">
                <h2 class="text-center">Page not found</h2>
                <a href="/" class="btn btn-info">Go Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>