<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>headlinks}}
    <title>W-APP</title>
</head>

<body>
    <!-- NavBar -->
   {{>nav}}
    <!-- NavBar -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto left_header d-flex flex-column justify-content-center gap-4">
                        <h1 class="fs-4 text-center">Finally, a weather app that tells you what you already know: <br> <span
                                class="text-warning"> it's freakin' hot</span> outside.</h1>
                        <p class="left-header-para">Welcome to our one-of-a-kind weather app! We know you're tired of boring weather forecasts
                            that sound like they were written by robots (well, they probably were). That's why we're
                            here to give you a fresh, sarcastic take on your local weather.</p>
                        <a href="/weather" class="btn btn-left-header btn-primary">Freeze or Fry?</a>
                    </div>
                    <div class="col-md-6 col-12 mx-auto right_header">
                        <div class="imgBox justify-content-center">
                            <img class="img-fluid w-100 " src="images/report.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header -->
    <!-- main -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <p class="text-primary fs-2 py-4 px-4 text-center glass-bg ">No more bland "partly cloudy with a chance of rain" predictions. We'll tell you what you really need to know, like "It's so hot, even the sun needs a break" or "The wind is so strong, it'll blow your grandma's wig off". So buckle up, buttercup, and let's get ready to check the weather with some serious attitude.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- WHY CHOOSE US -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <h1 class="text-center text-danger fs-3 mb-4">Why Choose Us</h1>
                    <div class="row gap-5 justify-content-center">
                        <div class="card border-success mb-3 " style="max-width: 28rem;">
                            <div class="card-header bg-transparent border-success">Weather App that Speaks Your Language: Sarcasm</div>
                            <div class="card-body ">
                              <p class="card-text">We're the only weather app that understands the importance of sarcasm. Because let's face it, sometimes it's too darn hot to be polite.</p>
                            </div>
                          </div>
                        <div class="card border-success mb-3" style="max-width: 28rem;">
                            <div class="card-header bg-transparent border-success">Grandma-Approved Weather: Simple and Stylish</div>
                            <div class="card-body ">
                              <p class="card-text">Our app is so easy to use, even your grandma can figure it out (assuming she hasn't lost her wig in the wind).</p>
                            </div>
                          </div>
                        <div class="card border-success mb-3" style="max-width: 32rem;">
                            <div class="card-header bg-transparent border-success">Emoji Your Mood: Weather Edition</div>
                            <div class="card-body ">
                              <p class="card-text">We offer a wide range of emojis to express your true feelings about the weather. Rainy day got you down? Use the crying face emoji. Sunny and hot? Show off those sunglasses with the cool shades emoji.</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- WHY CHOOSE US -->
    <!-- main -->

    <!-- benefits -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto right_header">
                        <div class="imgBox justify-content-center">
                            <img class="img-fluid w-100 " src="images/weather-report.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mx-auto left_header d-flex flex-column justify-content-center gap-4">
                        <h1 class="fs-4 text-center">Conquer the Weather, Conquer Your Destiny!</h1>
                        <p class="left-header-para fs-5 text-info">Attention all weather warriors! With our weather app, you can vanquish even the most treacherous weather foes with ease! No more surprise attacks from Mother Nature - our app provides accurate and up-to-date weather forecasts so you can plan your battles accordingly. And with our arsenal of weather emojis, you can unleash your true feelings and show them to the world! Whether you're facing a scorching hot summer or a bitter cold winter, our app has got your back. So don your battle gear, grab your trusty smartphone, and join the ranks of the weather warriors today!</p>
                        <a href="/about" class="btn btn-left-header btn-primary">More About us</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- benefits -->
    <!-- Footer -->
    {{>footer}}
    <!-- Footer -->
</body>

</html>