<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Checking Page</title>
  {{>headlinks}}
</head>
<body>
  {{>nav}}
  <div style="height: 70vh;" class="container my-5">
    <h1 class="text-center">Weather Checking Page</h1>
    <div class="row my-5">
      <div class="col-md-6 offset-md-3">
        <div class="input-group mb-3">
          <input type="text" id="city_name" class="form-control" placeholder="Enter city name" autocomplete="off" aria-label="Enter city name" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="submitBtn">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-info container w-50 h-50 mx-auto">
    <div class="row justify-content-center">
      <div class="col-md-4 col-12">
        <p id="day" class="text-danger fs-3">Tuesday</p>
      </div>
      <div class="col-md-4 col-12">
      <p class="fs-3" id="date">
        31 March
      </p>
      </div>
      </div>
      <div class="row mt-5 text-center">
        <p class="fs-1" id="city">Your Report</p>
        <div class="middle_layer_data_hide">
        <p class="fs-1" id="temp"> <span>0</span><sup>&#176;</sup></p>
        <p id="temp_status">
          <i class="fa fa-cloud"></i>
        </p>
        </div>
      </div>
    </div>
    </div>
  </div>
  {{>footer}}
  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
